/* Coolors Exported Palette - coolors.co/fa7921-fe9920-b9a44c-566e3d-0c4767 */

/* HSL */
$color1: hsla(24%, 96%, 55%, 1);
$color2: hsla(33%, 99%, 56%, 1);
$color3: hsla(48%, 44%, 51%, 1);
$color4: hsla(89%, 29%, 34%, 1);
$color5: hsla(201%, 79%, 23%, 1);

/* RGB */
$color1: rgba(250, 121, 33, 1);
$color2: rgba(254, 153, 32, 1);
$color3: rgba(185, 164, 76, 1);
$color4: rgba(86, 110, 61, 1);
$color5: rgba(12, 71, 103, 1);